@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Pixelify+Sans:wght@400..700&family=Playwrite+AU+SA:wght@100..400&family=Quicksand:wght@300..700&family=Tektur&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.center {
    display: flex;
    align-items: center;
}

.hero{
    height: 100%;
}

.button{
    display: flex;
    flex-direction: row;
}
